.main-div{
  align-items: center;
  justify-content: center;
  margin-left: 80vh;
  margin-top: 5vh;
}
.img{
  height: 30vh;
  width: 4  x0vh;
}
.add{
  margin-left: 88vh;
}
.submit1{
  margin-left: 10vh;
}
.card{
  margin: 10vh;
}